<%- include('header.ejs', { title: 'ribbit rates' }) %>

    <br><br><br>
    <div class="container mt-6">
        <div class="row align-items-center">
            <div class="col-md">
                <label for="exchange-from">Select currency to convert from: </label>
                <select class="form-control" name="exchange-from" id="exchange-from">
                    <option value=""></option>
                    <% currencies.forEach(function(currency) { %>
                        <option value="<%= currency.code %>">
                            <%= currency.name %> (<%= currency.code %>)
                        </option>
                        <% }); %>
                </select>
                <br>

                <div class="align-items-center">
                    <input type="text" class="form-control" id="oldValue" value="0">
                </div>
            </div>


            <div class="col-sm">
                <div id="result" class="text-center p-3 my-3 w-100" style="font-size: 2rem; font-weight: bold;"></div>
                <div class="d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-arrow-left-right" style="color: rgb(122, 185, 27);" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"/>
                    </svg>
                </div>
            </div>

            <div class="col-md">
                <label for="exchange-from">Select currency to convert to: </label>
                <select class="form-control" name="exchange-from" id="exchange-to">
                    <option value=""></option>
                    <% currencies.forEach(function(currency) { %>
                        <option value="<%= currency.code %>">
                            <%= currency.name %> (<%= currency.code %>)
                        </option>
                        <% }); %>
                </select>
                <br>

                <div>
                    <input type="text" class="form-control" id="newValue" value="0">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/javascript/converter.js"></script>

    <%- include('footer.ejs') %>