<%- include('header.ejs', { title: 'ribbit rates' }) %>
  <style>
    /* Green theme */
    .btn-green {
      background-color: #4CAF50;
      color: white;
      border: solid transparent;
    }

    .btn-green:hover {
      border: solid #4CAF50;
    }

    #contentContainer {
      margin-top: 10vh;
    }
  </style>

  <div class="container mt-6" id="contentContainer">
    <div class="row">
      <div class="col-auto">
        <h2>Current Exchange Rate</h2>
        <label for="exchange-from">Select currency to convert from: </label>
        <select class="form-control" name="exchange-from" id="exchange-from">
          <option value=""></option>
          <% currencies.forEach(function(currency) { %>
            <option value="<%= currency.code %>">
              <%= currency.name %> (<%= currency.code %>)
            </option>
            <% }); %>
        </select>
        <br>
        <label for="exchange-to">Select currency to convert to: </label>
        <select class="form-control" name="exchange-from" id="exchange-to">
          <option value=""></option>
          <% currencies.forEach(function(currency) { %>
            <option value="<%= currency.code %>">
              <%= currency.name %> (<%= currency.code %>)
            </option>
            <% }); %>
        </select>
        <br>
        <button type="button" class="btn btn-green" id="fetchButton">Find exchange rate</button>
        <div id="result">spook</div>
        <div class="col">
          <h2>Recent Rates</h2>
          <table id="dataTable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Exchange Rate</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-auto">
        <div id="historicalGraph"></div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/javascript/forex.js"></script>

  <%- include('footer.ejs') %>