<%- include('header.ejs') %>

  <!--Find better solution to this later-->
  <br>
  <br>
  <br>
  <div class="container mt-5">
    <h2>Current Exchange Rate Calculator</h2>
    <label for="exchange-from">Select currency to convert from: </label>
    <select name="exchange-from" id="exchange-from">
      <% currencies.forEach(function(currency) { %>
        <option value="<%= currency.code %>">
          <%= currency.name %> (<%= currency.code %>)
        </option>
        <% }); %>
    </select>
    <br>
    <br>
    <label for="exchange-to">Select currency to convert to: </label>
    <select name="exchange-from" id="exchange-to">
      <% currencies.forEach(function(currency) { %>
        <option value="<%= currency.code %>">
          <%= currency.name %> (<%= currency.code %>)
        </option>
        <% }); %>
    </select>
    <br>
    <button type="button" class="btn btn-success" id="fetchButton">Find exchange rate</button>
    <div id="result"></div>

    <br>
    <h2>Historical Rates Tracker</h2>

    <table id="dataTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Exchange Rate</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/javascript/forex.js"></script>

  <%- include('footer.ejs') %>