<%- include('header.ejs') %>

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">

                <div class="form-container">
                    <h3 class="text-center">Profile Settings</h3>
                    <br />
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <span id="email">
                            <%= email %>
                        </span> <!--retrieve email of currently logged in user-->
                    </div>

                    <hr class="my-4">

                    <!--create alert-->
                    <div>
                        <h3>Create Alerts</h3>
                        <p>Create a new alert when a currency exchange pair hits a target exchange rate</p>
                        <button id="createAlertButton" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#createAlertModal">Create New Alert</button>
                    </div>

                    <br />
                    <!-- List of alerts -->
                    <div id="alertList">
                        <h3> Your Rate Alerts</h3>
                        <% rateAlerts.forEach(alert=> { %>
                            <div class="rounded border p-3 mb-3 alert-item" data-alert-id="<%= alert.alertId %>">
                                1 <%= alert.from %> = <%= alert.rate %>
                                        <%= alert.to %> <button class="delete-alert"
                                                style="border: none; background: none; cursor: pointer;">
                                                <img src="../images/trashcan.png" alt="trashcan" class="icon">
                                            </button>
                            </div>
                            <% }); %>
                    </div>

                </div>
            </div>
        </div>

        <!--modal-->
        <div class="modal fade" id="createAlertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new alert</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <small class="form-text text-muted">Example: To create a new alert for when you want to be
                            notified when 1 <em>USD</em> =
                            <em>1.25 CAD</em>, select USD in the 'From' dropdown and CAD in the 'To' dropdown, then
                            enter <em>1.25</em> in the text box.</small>

                        <div class="form-group mt-3"></div>

                        <div class="form-group">
                            <label for="fromCurrency">From Currency:</label>
                            <select class="form-control" id="fromCurrency">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <!-- Add more currency options here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="toCurrency">To Currency:</label>
                            <select class="form-control" id="toCurrency">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <!-- Add more currency options here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="targetRate">Target Exchange Rate:</label>
                            <input type="text" class="form-control" id="targetRate"
                                placeholder="Enter target exchange rate">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Create alert</button>
                    </div>
                </div>
            </div>
        </div>

        <form action="/sendEmail" method="post">
            <button type="submit">Send Email</button>
        </form>


    </div> <!--container div-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="../javascript/profile.js"></script>