<%- include('header_not_loggedin.ejs', { title: 'Reset Password' }) %>
<style>
    .container {
        max-width: 400px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .form-label {
        margin-bottom: 0.5rem;
    }

    .form-control {
        margin-bottom: 1rem;
    }

    .btn-success {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }

    .btn-success:hover {
        background-color: #45a049;
        border-color: #45a049;
    }

    .error-message {
        color: red;
        font-weight: bold;
    }
</style>
<div class="container">
    <h2 class="mb-4 text-center">Reset Password</h2>
    <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-success" role="alert">
            <%= message %>
        </div>
    <% } %>
    <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <div class="error-message" role="alert">
            <%= errorMessage %>
        </div>
    <% } %>
    <form action="/reset-password" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="mb-3">
            <label for="verificationCode" class="form-label">Verification Code:</label>
            <input type="text" class="form-control" id="verificationCode" name="verificationCode" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </form>
</div>
<%- include('footer_not_loggedin.ejs') %>
