<%- include('header_not_loggedin.ejs', { title: 'Signup' }) %>
    <style>
        .container {
            max-width: 400px;
            margin-top: 100px;
        }

        .form-label {
            margin-bottom: 0.5rem;
        }

        .form-control {
            margin-bottom: 1rem;
        }

        /* Green theme */
        .btn-green {
            background-color: #4CAF50;
            color: white;
            border: solid transparent;
        }

        .btn-green:hover {
            border: solid #4CAF50;
        }
    </style>

    <div class="container">
        <h2 class="mb-4">Signup</h2>
        <% if (message) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
            <% } %>
                <form action="/signup" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" disabled class="form-control" id="email" name="email" value="<%= email %>"
                            readonly>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>


                    <button type="submit" class="btn btn-green">Create Account</button>

                    <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                        <div class="error-message" style="color: red;">* <%= errorMessage %>
                        </div>
                        <% } %>

                </form>
    </div>

    <%- include('footer_not_loggedin.ejs') %>